@font-face {
	font-family: 'MonaSans';
	src: url(/Mona-Sans-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: 'MonaSans';
	src: url(/Mona-Sans-Bold.otf);
	font-weight: 700;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.github-username:focus {
	outline: none;
}

.mobile-row {
	flex-direction: row;
}

.play-button {
	height: 200px;
	width: 200px;
}

.play-button-icon {
	height: 60px;
}

.footer {
	align-items: center;
}

.right-container {
	margin-left: 80px;
}

.header-style {
	align-items: center;
}

.footer-item {
	justify-content: center;
}

.container-1000 {
	max-width: 1000px;
	margin: auto;
}

.pad {
	padding-left: 20px;
	padding-right: 20px;
}

.unwrapped-title {
	font-size: 30px;
}

@media screen and (max-width: 1000px) {
	.mobile-row {
		flex-direction: column;
	}
	.mobile-full-width {
		width: 100%;
	}
	.mobile-flex {
		flex: 1
	}
	.play-button {
		height: 150px;
		width: 150px;
	}
	.play-button-icon {
		height: 40px;
	}
	.footer {
		align-items: flex-start;
	}	
	.right-container {
		margin-left: 0;
		margin-top: 70px;
	}	
	.header-style {
		align-items: flex-start;
	}	
	.footer-item {
		justify-content: flex-start;
	}
	.container-1000 {
		max-width: 500px;
		margin: auto;
	}
	.unwrapped-title {
		font-size: 20px;
	}
}

